/* //////////////////////
  RESET - source: https://piccalil.li/blog/a-modern-css-reset
  /////////////////////// */
:root {
  --border-radius-sm: 0.4rem;
  --border-radius-lg: 0.8rem;
  --border-radius-xl: 1.2rem;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* Prevent font size inflation */
html {
  text-size-adjust: none;
  height: 100%;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* Improve readability */
p,
li,
figcaption {
  text-wrap: pretty;
  max-width: 65ch;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

body {
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  text-rendering: optimizespeed;
  background-color: var(--clr-bg-main);
}

/* Some browsers remove list semantics if 'list-style' is declared. If role=list is
 * added as an attribute in HTML, then it ensures the semantics remain even if 'list-style' is applied.
 * Using 'where' ties both HTML and CSS to ensure accessible lists.
 * */
ul:where([role="list"]),
ol:where([role="list"]) {
  list-style: none;
  margin: 0;
  padding: 0;
}

[hidden] {
  display: none;
}

header ul,
footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  color: currentcolor;
  text-decoration: inherit;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Make images easier to work with */
img,
video,
picture {
  max-width: 100%;
  display: block;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

fieldset {
  padding: 0;
  border: transparent;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;

  &:focus {
    left: 0;
    height: auto;
    width: auto;
    background-color: white;
    padding: 0.5rem;
    border: 1px solid;
  }
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
