@import "https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap";

:root {
  --ff: "Montserrat", sans-serif;
}

body {
  font-family: var(--ff);
}
